body {
    color: #8E93A7;
    background-color: #3a3c3c;
}

.master{
    width: 58%;
}

.slave{
    width: 38%;
}
.form-horizontal {
    padding-top: 20px;
}

.modal-body {
    padding-bottom: 0px;
}

.modal-footer {
    margin-top: 0px;
}
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 20px 0 10px;
    padding-bottom: 3px;
}

#conf{
    margin-top: -40px;
}

.center{
    text-align:center;
}
.text {
    color: #8E93A7;
    font-size: 11px;
    margin-top: 20px;
    word-wrap: normal;
    width:100%;
    text-align:center;
}

.gauge {
    float: left;
    height: 150px;
    width: 250px;
}

.chart {
    width:100%;
    height:200px;
}

.rate{
    color: #7CD2C7;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'SegoeUI-Semibold','Segoe UI Semibold','HelveticaNeue-Medium','Helvetica Neue Medium','SegoeUI','Segoe UI','HelveticaNeue','Helvetica Neue',Verdana;
    font-weight: bold;

}

#status{
    width:100%;
    height: 10px;
    line-height: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 16px;
    text-align:center;
    margin: 5px 0;
    position:relative;
}

#statusText{
    position:absolute;
    top:0px;
    width:100%
}

#progressBar{
    border-radius: 5px;
    height:100%;
    background-color: orange;

}


/* modal settings */
.myModal {
    width: 700px

}
.help-block{
    font-size: 10px;
}

